body {
  background-color: #000;
  text-align: center;
  display: block;
}

h1 {
  font-family: Montserrat, sans-serif;
  text-shadow: 2px 2px 2px  red;
}

h2 {
  font-family: Montserrat, sans-serif;
  text-shadow: 2px 2px 2px #f2f;
}

h3 {
  font-family: Montserrat, sans-serif;
  text-shadow: 2px 2px 2px #00ffee;
}

p {
  font-family: lobster, cursive;
  color: #fff;
}

.container {
  padding-top: 80px;
}

.start {
  color: #ff8c00;
}

.mid {
  color: #d000ff;
}

.end {
  color: #00b6ff;
}

.sweet:hover {
  color: #f2f;
}

.red:hover {
  color: red;
}

.mint:hover {
  color: #00ffee;
}
